h5
{
	font-weight:lighter;
	font-size:11px;
}

@-moz-document url-prefix()
{ 
  	h5{ font-weight:normal }
}


h1,
h2{
	color: #662d91; 
	font-weight: 600;
	font-size: 26px;
}
h2{
	font-size: 20px;
}

body
{
	background-color:white;
	
}

ul.horizontal
{
	margin-bottom: 3px;
}
ul.horizontal li
{
	float:left;
}
ul.horizontal li+li
{
	margin-left:8px;
	padding-left:8px;
}
ul.horizontal li a
{
	font-size: 12px;
	color: #969696;
}
ul.horizontal.left li a
{
	font-weight: 600;
}
ul.horizontal li a:hover,
ul.horizontal li a.focus
{
	text-decoration: none;
	color: #44C8F5;
}
.thumb-mini {
	background: url(../images/thumb-mini.png) no-repeat;
	width: 23px;
	height: 23px;
	display: block;
	text-indent: -999px;
	overflow:hidden;
	position: relative;
	top: -2px;
}
.right {float:right;}
.left {float:left;}

#wbez-header
{
	background-color:black;
	color:#aaa;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:2px 0;
	height:24px;
}

.container.main
{
	position:relative;
	top:25px;
}

.cc-nav{ text-align:center;}

#cc-nav{ margin:10px 0;}
#cc-nav ul
{
	list-style:none;
	margin:0;
	border-bottom: 1px dotted #44C8F5;
}

#cc-nav ul li
{
	float:left;
	position: relative;
}

#cc-nav ul li a,
.side-link a
{
	font-size:14px;
	color: #969696;
	font-weight: 600;
}
.side-link {
	margin: 11px 0;
}
#cc-nav ul li a
{
	height:30px;
	display:inline-block;
	padding:8px 12px 0px 24px;
	text-align: left;
}

#cc-nav ul li a:hover,
#cc-nav ul li a.nav-focus:link,
#cc-nav ul li a.nav-focus:visited,
.side-link a:hover
{
	color: #44C8F5;
	text-decoration:none;
}
#cc-nav li ul
{
	display: none;
	z-index: 100;
	position: absolute;
	background: white;
	border: 2px solid #44c7f5;
	border-radius: 5px;
	margin-top: -6px;
	width: 190px;
	left: -67px;
	padding: 4px 0;
}
#cc-nav li li
{
	display: block;
	width: 100%;
}
#cc-nav li li.carrot
{
	background: url(../images/carrot-up.png) center top no-repeat;
	width: 100%;
	height: 11px;
	position: absolute;
	top: -11px;
}
#cc-nav li li a
{
	font-size: 14px;
	display: block;
	padding: 2px 11px 2px 11px;
	height: auto;

}
#cc-nav li:hover ul
{
	display: block;
}

#question-page {

width:100%;

}

#archive-questions{

width:100%;
}
#how-it-works-expander a
{
	color: #666666;
	padding-right:5px;
}

#how-it-works-expander a:hover
{
	color: #08C;
	text-decoration:none;
}

.twitter-headline {
	padding-bottom: 48px;

}

.twitter-wrapper {
	background: white;
}

.twitter-wrapper .twtr-widget .twtr-tweet-wrap {
	background-image: url(../images/bg_dots.png);
	padding: 15px 8px;
	border-bottom: 1px dotted #808184;
}
.twitter-wrapper .twtr-widget .twtr-tweet-text p > a:first-child {
	display: block !important;
	color: #666 !important;
	font-weight: 600;
}
.twitter-wrapper .twtr-widget .twtr-tweet-text p > a:first-child:after {
	content: ' Says';
}
.twitter-wrapper .twtr-widget .twtr-hd {
	display: none;
}


#vote-page{}
#ask-page{ padding-bottom: 40px;}
#stories-page{}
#archive-page{}

footer
{
	padding-top:20px;
	border-top: 1px dotted #808184;
}
footer img
{
	width:70px
}
footer li
{
	
	float :right;
	padding:5px;
}

#how-it-works
{
	background:#eee;
	padding:20px 0 10px 0;
}

#how-it-works ul
{
	list-style:none;
	margin:0;
}

#how-it-works ul li
{
	float:left;
	height:55px;
	width:177px;
	display:inline-block;
	padding:10px 5px;
	color:red;
}

#how-it-works ul li.step-1{color:#00ccff;}
#how-it-works ul li.step-2{color:#12d1bf;}
#how-it-works ul li.step-3{color:#21d780;}
#how-it-works ul li.step-4{color:#36dc40;}
#how-it-works ul li.step-5{color:#48e100;}


#pages{ min-height: 250px;}

#questions,
#archive-questions
{
	padding:4px 0;
	border-bottom: 1px dotted #808184;
	min-height:200px;
	margin-bottom: 26px;
}

.archive-search
{
	margin-top: 10px;
	padding-top: 10px;
}
.archive-search form
{
	margin:0;
}
.archive-search ul li
{
	border-left: 1px solid #ccc;
}
.archive-search ul li:first-child
{
	border-left: 0;
}

.winner{

outline: solid 3px rgba(0, 136, 204, 0.5);
}

.question
{
	height:100px;
	width:100%;
	-webkit-transition: color,background-color .25s linear;
	 transition: color,background-color .25s linear;
	background-color:white;
	background-image:url(../images/bg_dots.png);
	position:relative;
	transition: outline 0.5s;
	-moz-transition: outline 0.5s; /* Firefox 4 */
	-webkit-transition: outline 0.5s; /* Safari and Chrome */
	-o-transition: outline 0.5s; /* Opera */
	outline: 2px solid white;
	border-top: 1px dotted #808184; 
}
.question + .question{ margin-top:2px;}

.question.hoverstate
{
}
.question .row {
	border-top: 3px solid white;
}
.question h2 {
	color: #231F20;
	font-weight: 400;
	font-size: 25px;
	line-height: 28px;
}
.question h2 a{
	color: #231F20;
}
.question h2 a:hover {
	color: #44C8F5;
	text-decoration: none;
}

.question-image
{
	height:100px;
	position:relative;
	background:no-repeat;
	background-size: 100%;
	background-position: 0 50%;
	overflow:hidden;
}
.question-image img
{
	position: absolute;
	top: -50%;
	min-width: 100%;
	min-height: 200px;
}

.image-preview {
	background: no-repeat;
	background-size: 220px;
	background-position: 0 50%;
	height:71px;

}

.image-credits
{
	position: absolute;
	bottom: 3px;
	padding:0 5px;
	width:100%;
	background:url(../images/bg_black-transparent.png);
}

.image-credits a:link,
.image-credits a:visited,
.image-credits a:hover
{color:white;}


.logo {

	width:50px;
	height:50px;
	background-repeat:no-repeat;
	background-size:50px;
}
.cs-logo img {
	position: absolute;
	z-index:1;
}

#wbez-header .container {

padding-top:2px;

}

.header-logo {

	width:85px;
	height:20px;
}

.header-icon-social{
	float:right; 
	height:20px; 
	overflow:hidden;
	margin-bottom: 2px;
	margin-left: 14px;
	width: 68px;
}
.header-icon-social a{
	margin-left: 5px;
}
.header-icon-social a:hover{
	opacity:0.7;
}


.header-email-link{
	color:#999999;

}

.logo-zeega {

	background-image:url("../images/logos/zeega_bw.png");

}


#previous-winner-question{
	padding-bottom: 90px;

}


.logo-wyncote {
	background-image:url("../images/logos/wyncote_bw.png");
}

.logo-art-works {
	background-image:url("../images/logos/art-works_bw.png");
}
.logo-macarthur {
	background-image:url("../images/logos/macarthur_bw.gif");
}
.logo-cpb {
	background-image:url("../images/logos/cpb_bw.png");
}

/*
.logo-cpb:hover {
	background-image:url("../images/logos/cpb_color.gif");
}

*/

.logo-air {
	background-image:url("../images/logos/air_bw.png");
}
.logo-localore {
	background-image:url("../images/logos/localore_bw.png");
}

/*
.logo-localore:hover {
	background-image:url("../images/logos/localore_color.png");
}

*/

.question.hover
{
	-webkit-transition: color,background-color .25s linear;
	 transition: color,background-color .25s linear;
	
	background-image:none;
	background-color:#49BEE8;
	color:white;
}

.question.hover .question-image
{
	-webkit-transition: opacity .25s linear;
	 transition: opacity .25s linear;
	opacity:0.5 ;
}

.question-text .comment-count
{
	position:absolute;
	bottom:5px;
	right:10px;
	
}

.question-text {

	max-height:100px;
	overflow:hidden;

}



.rank-corner
{
	float: right;
	height: 0;
	width: 0;
	border-bottom: 100px solid transparent;
	border-top: 0px solid black;
	border-right: 100px solid black;
	z-index:0;
	position:absolute;
	right:0;
	opacity:0.8;
}
.rank-number
{
	color:white;
	float:right;
	z-index:2;
	position:relative;
	right:10px;
	font-weight:600;
}

#flash .right-col .super h1,
#flash .right-col .sub h5,
.question .question-text h2{ padding:10px 10px 0 20px }

#flash .right-col .super h1{ 
	padding-top: 0; 
}
#flash .right-col .sub h5{ 
	padding-top: 0; 
	color: #a7a7a7; 
	font-weight: 600;
}

#ask-form {
	clear: both;
}
#ask-flash{ height: 21px;}

#ask-flash .right-col .super h1,
#ask-flash .right-col .sub h5,
.question .question-text h2,
.question .question-text p{ 
	padding:10px 10px 0 20px;
}
.question .question-text p{ 
	color: #666666;
	font-weight: 600;
	letter-spacing: 1px;
}

#ask-flash .right-col .super h1{ padding-top: 0;}

#flickr-search{ margin:0; margin-bottom:10px;}
#flickr-search a
{
	height:90px;
	width:90px;
	overflow:hidden;
}

#flickr-search img
{
	width:90px;
	height:90px;
}

.flickr-image-selected {

	background-color: #00CCFF;
}


.vote
{
	background-image:url(../images/votebutton.png);
	height:51px;
	width:51px;
	display:inline-block;
	overflow:hidden;
	position: absolute;
	top: 25px;
	left: 275px;
}
.vote.hover{background-position:-50px 0;}
.vote.active{background-position:-100px 0;}
.vote.checked{background-position:-150px 0;}

.arrow
{
	background-image:url(../images/arrows.png);
	height:12px;
	width:12px;
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
}
.arrow.grey {
	background-image:url(../images/arrows-grey.png);
}
.arrow.left{background-position:-45px 0;width:11px;margin-right: 6px;}
.arrow.right{background-position:-15px 0;width:11px;margin-left: 6px;}
.arrow.down{background-position:-30px 0;position:relative;top:3px;}
.arrow.images/sample1.jpg{background-position:-45px 0;}
.cc-nav a:hover .arrow.grey,
.side-link a:hover .arrow.grey {
	background-image:url(../images/arrows.png);
}

[class^="badge-"]
{
	background-image:url(../images/sprites.png);
	height:50px;
	width:50px;
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	background-repeat:no-repeat;
	float:left;
	margin-right:10px;
}

.badge-current{ background-position: -50px 0;}
.badge-investigated{ background-position: -150px 0;}
.badge-answered{ background-position: -100px 0;}

[class^="number-"]
{
	background-image:url(../images/numbers.png);
	height:45px;
	width:34px;
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	background-repeat:no-repeat;
	float:left;
	margin-right:10px;
}
.number-1{ background-position: 10px 0;}
.number-2{ background-position:-44px 0;}
.number-3{ background-position:-93px 0;}
.number-4{ background-position:-143px 0;}
.number-5{ background-position:-193px 0;}

[class^="social-"], [class*=" social-"]
{
	background-image:url(../images/socialicons.png);
	height:15px;
	width:15px;
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
}
.social-facebook{background-position:0 0;}
.social-twitter{background-position:-15px 0;}
.social-rss{background-position:-30px 0;}
.social-googleplus{background-position:-45px 0;}

.social{ margin-left: 2px;width: 263px;}
.social a { 
	color: #44C8F5;
	font-size: 12px;
	font-weight: bold;
}



#voting-date-next{ float: right }

#guidelines-modal{
	display:none;
}

#good-question-modal{
	display:none;
}
.good-question-link{
	text-align:right;
	position: absolute;
	right: 0px;
	bottom: -28px;
}

.good-question-link p{
	font-size:11px;
}
#discussion
{
	display:none;
	min-height:300px;
	margin:10px 0;
}
/*
#disqus-controls{

height: 28px;
padding-top:20px;
}

#disqus_thread{

background:white;
padding-top:20px;
padding-left:20px;
padding-right:20px;
width:570px;

}

.disqus-sort-unselected{

background-color:#E6E6E6;

}

.disqus-sort-selected{

background-color:white;

}

#disqus-sort-popular{

width:70px;
position:absolute;
left:455px;

}

#disqus-sort-newest{
position:absolute;
left:350px;
width:90px;

}



#disqus-guidelines{
position:absolute;
left:750px;
padding-top:5px;
width:90px;

}



.disqus-sort-tab{

-moz-border-radius-top: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding:5px;
text-align:center;
cursor:pointer;
}


#disqus-add-comment{

position:absolute;
left:832px;
width:115px;
margin:-7px;
*/

}
footer
{
	min-height:150px;
}

#footer-head
{
	text-align:center;
}

.top-left-corner-info
{
	width:300px;
	position:relative;
}

.top-left-corner-info h5
{
	margin-bottom: 10px;
}
.question-form-wrapper {
	margin-top: -28px;
}
.submit-sequence ul
{
	list-style:none;
	margin:0;
}
.submit-wrap {
	position:relative;
	width: 610px;
	float: right;
}
.submit-wrap .carrot {
	position: absolute;
	top: 25px;
	left: -18px;
	width: 20px;
	height: 24px;
	background: url(../images/carrot.png) no-repeat;
}
.submit-question-text
{
	height:60px;
	background: #fffbfe;
	width: 580px !important;
	border: 2px solid #f00ed3 !important;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
	color: black;
	padding: 10px 15px;
	border-radius: 12px;
}
::-webkit-input-placeholder {
   	color: #b7a6b5;
	font-style: italic;
}
:-moz-placeholder {  
   	color: #b7a6b5;  
	font-style: italic;
}
/*for ie7/8 */
.placeholder {
   	color: #b7a6b5;  
	font-style: italic;
}
.submit-sequence
{
	color: #777;
}


.short-input {

width:270px;
}

.submit-back {

	cursor:pointer;
	padding-right:5px;

}


.submit-cell
{
	float:left;
	margin-right:10px;
}

.submit-sequence ul li
{
	border-top: 1px dotted #808184;
	padding:10px 0;
}

.submit-sequence ul li.active
{
	color:red;
}

#submit-name-preview{ margin-bottom:20px;}

#about-page .right-col>div+div,
#about-page .left-col>div
{
	border-top:1px dotted #808184;
	margin-top:20px;
	padding-top:20px;
}
.the-team .name{font-weight:bold;}
.the-team p{color:#999;}

.question-single .content
{
	min-height:300px;
}

.faq-list .faq-question{ font-weight:bold; }
.faq-list p{ color: #999;}

/****** INVESTIGATIONS ********/

li.investigation-story:nth-child(even){float:left;}
li.investigation-story:nth-child(odd){float:right;}

li.investigation-story:first-child
{
	width:100%;
	padding-right:0;
	float:none;
	height: auto !important;
}
li.investigation-story:first-child .investigation-image {
	position: inherit !important;
}

li.investigation-story
{
	width:49.5%;
	margin-bottom:10px;
	float:left;
}

#investigate-list>li
{
	background:white;
	height:350px;
	position:relative;
}

#investigate-list .investigation-question
{
	padding:10px;
}

.investigation-overlay .investigation-info-left,
.investigation-overlay .investigation-comments
{ padding:10px; }

#investigate-list .investigation-image
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 275px;
	background-size:100%;
	background-position: center;
}
.investigation-image .investigation-overlay
{
	background-color: 
	rgba(0, 0, 0, .5);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.archive-key
{
	background:white;
	padding:10px;
	color:#999;
}
.archive-key>li{ height:50px;}
.badge-column{padding-top:15px;}

.single-question-content>div
{
	margin-bottom:20px;
}

.twtr-img img{max-width:none;}

.question-form { 
	position: relative;
}
.question-form .btn {
	position: absolute;
	bottom: 18px;
	right: 8px;
}
.btn-primary { 
  background-color: #20e0e0;
  *background-color: #20e0e0;
  background-image: -ms-linear-gradient(top, #60e0e0, #48c8f8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60e0e0), to(#48c8f8));
  background-image: -webkit-linear-gradient(top, #60e0e0, #48c8f8);
  background-image: -o-linear-gradient(top, #60e0e0, #48c8f8);
  background-image: -moz-linear-gradient(top, #60e0e0, #48c8f8);
  background-image: linear-gradient(top, #60e0e0, #48c8f8);
  background-repeat: repeat-x;
  border-color: #60e0e0 #20e0e0 #48c8f8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#60e0e0', endColorstr='#48c8f8', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 600;
}
.container .btn:hover {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	background-position: 0;
	background-color: inherit;
	border: 1px solid black;
}
.clear {
	clear: both;
}

/*roman: 
extra random styles*/

.single-question-content { 
	padding-left: 20px;
	margin-left: 0 !important;
	background: white url(../images/bg_dots.png);
}
.single-question-content h1 { 
	color: black;
	font-size: 24px;
}
.single-question-content h3 { 
	color: #662D91;
	font-size: 24px;
}
.single-question-content h3 a { 
	color: #999;
	font-size: 16px;
}

#archive-flash .row {
	margin-left: 0;
}