body{ background-color:black;

}

h3{ font-weight:500; }

.wrapper
{
	width:300px;
	height:330px;
	padding:5px;
	background-color:#eee;
	overflow:hidden;
}

#tagline
{
	border-top:1px dotted #777;
	margin-top: 5px;
	padding-top: 5px;
	color:#777;
}

#ballot
{
	height:200px;
	
}

#left-ballot,
#right-ballot
{
	height:100%;
	width:149px;
	float:left;
	background-color:white;
	position: relative;
	display:none;
}

#left-ballot
{
	margin-right:2px;
}
#right-ballot{}

.question
{
	background-color:white;
	color:#222;
	-webkit-transition: color,background-color .25s linear;
	 transition: color,background-color .25s linear;
	height:100%;
}

.question.hover
{
	-webkit-transition: color,background-color .25s linear;
	 transition: color,background-color .25s linear;
	background-color:#49BEE8;
	color:white;
}
.question .ballot-image
{
	-webkit-transition: opacity .25s linear;
	 transition: opacity .25s linear;
	opacity:1;
}
.question.hover .ballot-image
{
	-webkit-transition: opacity .25s linear;
	 transition: opacity .25s linear;
	opacity:.75;
}

.question-thanks
{
	padding:3px;
	color:#777;
}
.question-thanks .social
{
	padding: 10px 0 ;
}


#submit-question
{
	margin-top:2px;
	padding: 3px 0;
	border-top:1px dotted #777;
	border-bottom:1px dotted #777;
	text-align:center;
}

#submit-question a:link,
#submit-question a:hover
#submit-question a:active
#submit-question a:visited
{
	color:#777;
}
#sponsors ul
{
	position:relative;
	top:-12px;
}
#sponsors li
{
	float:left;
	margin-right:5px;
}
#sponsors img
{
	max-height:50px;
}

.ballot-image
{
	height:40px;
	position:relative;
	background:no-repeat;
	background-size: 150px;
	background-position: 0 50%;
}

#ballot .text 
{
	padding:3px;
	padding-top:23px;
}

#follow-up {

	background-color:#49BEE8;
	color:white;
	font-size:14px;
	height:185px;
	display:none;
	padding:5px;

}


#follow-up a{
	color:white;


}



.link {
	
	padding-left:5px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:17px;


}

.link-2 {
	border-top: white 1px dotted;
	border-bottom: white 1px dotted;

}

.link-icon {
	padding-right:5px;
	bottom: 4px;
	position: relative;
	
}
.thanks-text h3
{
	color: #49BEE8;
}


.vote
{
	background-image:url(../images/votebutton.png);
	height:51px;
	width:51px;
	display:inline-block;
	overflow:hidden;
	position: absolute;
	top:12px;
	left:46px;
}
.vote.hover{background-position:-51px 0;}

[class^="social-"], [class*=" social-"]
{
	background-image:url(../images/socialicons.png);
	height:15px;
	width:15px;
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
}
.social-facebook{background-position:0 0;}
.social-twitter{background-position:-15px 0;}
.social-rss{background-position:-30px 0;}
.social-googleplus{background-position:-45px 0;}

.social i{ margin-right:5px;}
