.cc-nav li,
.cc-nav li a,
.carousel.lite .slide,
.carousel .slide,
#cc-nav ul li a,
#how-it-works ul li,
.vote,
.arrow,
[class^="badge-"],
[class^="number-"],
[class^="social-"], [class*=" social-"] {
    display: inline;
    zoom: 1;
}
.cc-nav li a {
	margin-left: 0;
}